.footer {
  background-color: var(--color-dark);
  color: var(--color-light);
  padding: 50px 0;
  box-sizing: border-box;
}

.footer p {
  margin-bottom: 0;
  margin: 0 auto;
}

.container{}

.social-buttons {
  float: right;
}

.social-buttons li {
  display: inline-block;
  margin: 0 20px;
}

.social-buttons li a {
  display: inline-block;
  background-color: var(--color-primary);
  color: var(--color-light);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
}

.social-buttons li a:hover {
  background-color: #333333;
}

@media (max-width: 767px) {
  .social-buttons {
    float: none;
    margin-top: 20px;
  }
  .container {
    text-align: center;
  }
}
